.homepage-container {
  background: #5a849a;
}

.header {
  height: 60px;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.header .logo {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  color: #d22993;
  letter-spacing: 3px;
}

#search-filter-section {
  padding: 10px;
}

#search-filter-section h2 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 5px;
}

#search-filter-section .filters input {
  width: calc(100%);
  box-sizing: border-box;
  padding: 5px 8px;
  margin: 5px 0;
  font-size: 12px;
  margin-left: -10px;
}

#search-filter-section .filters input.keyword {
  width: calc(100% - 10px);
  margin-left: 0;
}

#search-filter-section .filters .reset {
  padding: 3px 6px;
  font-size: 12px;
  background: #fff;
  margin: 5px 10px;
}

#search-filter-section .filters span {
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  height: 100%;
}

#search-filter-section #document-details {
  margin-left: 10px;
  background: #fff;
  height: 100%;
}

/* Wells List Table */
.ReactTable {
  margin-top: 10px;
  width: calc(100% - 10px);
  background: #fff;
  box-sizing: border-box;
}

.ReactTable .rt-thead.-headerGroups {
  display: none;
}
.ReactTable .rt-thead.-header {
  min-width: auto !important;
}
.ReactTable .rt-th, .ReactTable .rt-td {
  text-align: center;
  width: 16% !important;
  padding: 2px;
  line-height: 2em;
  font-size: 8px;
}
.ReactTable .rt-tbody {
  min-width: auto !important;
}
.ReactTable .-pagination {
  flex-wrap: nowrap;
  font-size: 8px;
}
.ReactTable .-pagination .-btn {
  font-size: 8px;
  letter-spacing: -2px;
  font-weight: bold;
}
.ReactTable .-pagination .-pageInfo {
  margin: 0;
}
.ReactTable .-pagination .-pageJump input {
  width: 50px;
  padding: 3px 0 3px;
  margin: 0 5px;
}
.ReactTable .-pagination .-pageJump .-totalPages {
  margin-left: 5px;
}
.ReactTable .-pagination .-previous, .ReactTable .-pagination .-next {
  width: 20px;
  flex: none;
}

/* Docs List Table */
.docs-list .ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td {
  font-size: 10px;
  vertical-align: middle;
}
.docs-list .ReactTable .rt-th, .ReactTable .rt-td {
  width: calc(14% - 5px) !important;
}
.docs-list .ReactTable .-pagination {
  font-size: 10px;
}

/* checkoutlist */
#checkoutlist {
  margin: 10px;
  background: #fff;
  height: calc(100% - 20px);;
}

/* Loading Image */
.map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.loading-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background: #f1efe9;
}

.loading-container img {
  width: 100px;
}

/* Filter Map Button */
.filter-map {
  margin-right: 10px;
  width: calc(100% - 10px);
  height: 29px;
  margin-top: 5px;
  font-weight: 500;
}